@model IEnumerable<BookingModel>

<div class="container">
<h2>Не приети</h2>
<table class="table table-dark text-center">
	<thead>
		<tr>
			<th scope="col">Име</th>
			<th scope="col">Имейл</th>
			<th scope="col">Телефон</th>
			<th scope="col">Стая</th>
			<th scope="col">Настаняване</th>
			<th scope="col">Освобождаване</th>
			<th scope="col">Брой стаи</th>
			<th scope="col">Цена</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var booking in this.Model.Where(x => x.Confirmed == false))
		{
			<tr>
				<th>@booking.CustomerName</th>
				<th>@booking.CustomerEmail</th>
				<th>@booking.CustomerPhone</th>
				<th>@booking.RoomName @booking.RoomType</th>
				<th>@booking.CheckIn.ToShortDateString()</th>
				<th>@booking.CheckOut.ToShortDateString()</th>
				<th>@booking.RoomsCount</th>
				<th>@booking.Price</th>
				<th>
						<a class="btn btn-danger" asp-action="Leave" asp-route-id="@booking.Id">Освободи/Изтрий</a>
					<a class="btn btn-primary" asp-action="Confirm" asp-route-id="@booking.Id">Приеми</a>
				</th>
			</tr>
		}
		</tbody>
		</table>
</div>
<div class="container">
		<h2>Приети</h2>
		<table class="table table-dark text-center">
			<thead>
				<tr>
				<th scope="col">Име</th>
				<th scope="col">Имейл</th>
				<th scope="col">Телефон</th>
				<th scope="col">Стая</th>
				<th scope="col">Настаняване</th>
				<th scope="col">Освобождаване</th>
				<th scope="col">Брой стаи</th>
				<th scope="col">Цена</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var booking in this.Model.Where(x => x.Confirmed == true))
				{
					<tr>
						<th>@booking.CustomerName</th>
						<th>@booking.CustomerEmail</th>
						<th>@booking.CustomerPhone</th>
						<th>@booking.RoomName @booking.RoomType</th>
						<th>@booking.CheckIn.ToShortDateString()</th>
						<th>@booking.CheckOut.ToShortDateString()</th>
						<th>@booking.RoomsCount</th>
						<th>@booking.Price</th>
						<th>
						<a class="btn btn-danger" asp-action="Leave" asp-route-id="@booking.Id">Освободи/Изтрий</a>
						</th>
					</tr>
				}
		</tbody>
	</table>
</div>